.explore-container{
    background-image: url( "../../../images/explorebackground.png");
    opacity: 2.5;
     background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
    background-color: #ededed6e;
    display: inline-block;
    flex-direction: row-reverse;  
    height: 100vh; 
    margin-top: 0;
    z-index: 1;
}
div{
    overflow-x: clip;
}
.explore-content{
    margin-top: 30px;
    text-align: left;
    width:100%;
}
.explore-h1{
     font-size:50px;
     font-weight: 700;
     margin-top: 4%;
}
.explore-span{
    font-size: 22px;
     font-weight: 700;
     margin-top: 10px;
}
.explore-p{
     margin-top: 15px;
    font-size: 15px;
     font-weight: 700;
     
    
}
.explore-text{
   
   padding: 0px 0px 0px 30px;
    width: 90%;
    display: inline-block;
    flex-direction: column;
    min-height: 100vh;
}
 .container-left {
        width: 11%;
        background-color: teal;
        padding-bottom: 20px;
        display: block;
        text-align: center;
        position: relative;
        bottom: 100px;
       
    }
    

    .plan-section1 iframe {
        width: 99%;
        height: 210px;
        border-radius:  15px 15px 1px 1px;
    }
    .btn-btn {
    width: 99%;
    font-size: 18px;
    text-align: center;
    padding: 28px;
    background: orange;
    border: none;
    cursor: pointer;
    color: white;
    box-shadow: 0 0.375rem 0.875rem 0 rgb(0 0 0 / 13%), 0 0.0625rem 0.25rem 0 rgb(0 0 0 / 11%);
}


    .plan-section1{
        position: absolute;
        left: 0;
        top: 75vh;
            padding: 0px 30px 0px 30px;
    }
    .explore-value{
      width: 100%;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    background-color: #ededed6e;
    height: 120vh;
    margin-top: 0%;
    }
    .value-text{
        width: 100%;
        padding: 30px;
        
    
    }
    
    .value-text h1{
        color: teal;
        font-weight: 600;
        margin-bottom: 20px;
    }
      .value-text q{
    font-size: 18px;
    line-height: 2;
    }