.footer{
    display: inline-block;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 5%;
    background: teal;
    color: whitesmoke;

}
.footer-left h1{
    color: orange;
    font-size: 45px;
    font-weight: 900;
}.footer-left span{
    color: whitesmoke;
    font-size: 35px;
    font-weight: 700;
}
.footer-left {
  display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 2;
    padding: 25px;
  
}
.footer-center {
    display: flex;
    flex-direction: row;
    width: 100%;
    line-height: 2; 
}
.footer-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 2;
    text-align: justify;
    justify-content: flex-start;
    padding-left: 16px;
}

.footer-search{
   display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.footer-search input{
   padding: 0px 0px 10px 4px;
    background: whitesmoke;
  
    border: none;
    font-size: 16px;
    color: #df9714;
    border-radius: 10px;
}
.footer-search button{
    border: none;
    border-radius: 12px;
    padding: 20px;
    font-size: 16px;
    background: #df9714;
    color: whitesmoke;
}
.footer-bottom{
    padding: 2%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: #df9714;
    color: whitesmoke;
        padding-top: 50px;
            height: 14vh;
}