.header-container2{
    height: 6vh;
    background: white;
    display: flex;
    align-items: center;
    background: white;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 2px -2px whitesmoke;
}
.logo-container{
    width: 35%;
    height: 6vh;
    margin-left: 11px;
    display: flex;
    align-items: center;
} 
.logo-container h1{
    color: orange;
    font-weight: 700;
    font-size: 20px;
} 
.logo-container span{
    color: teal;
    font-weight: 900;
} 
.logo-container img{ 
   height: 30px;
}
.header-input input{
   padding: 6px 14px 6px 14px;
    border: 2px solid teal;
    border-radius: 20px;
    font-size: 15px;
    
    
}

.list-container2{
   width: 48%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    margin-left: 6%;
}


.list-container-auth{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-right: 2%;

  
}
.nav-link2{
    text-decoration: none;
    font-size: 13px;
    font-weight: 800;
    color: teal;

}

.nav-link2:hover{
    color: orange;

}

.nav-link-selected{
    text-decoration: none;
    font-size: 13px;
    font-weight:800;
    color: orange;
}