.header-container5{
    display: flex;
    flex-direction: row;
    height: 8vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 2px -2px whitesmoke;
}
.logo-container5{
    width: 20%;
     height: 8vh;
     margin-left: 10px;
     display: flex;
     align-items: center;
   
} 
.logo-container5 img{ 
    height: 50px;  
}


.list-container-auth5{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    margin-right: 2%;

  
}
.nav-link5{
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    color: teal;

}

.nav-link5:hover{
    color: orange;

}

.nav-link-selected5{
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    color: orange;
}

.user-info5{
width: 25%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background: whitesmoke;
margin-right: 10px;
border-radius: 13px;
padding-top: 2px;
padding-bottom: 2px;

}
.profile-container5{
    height: 22px;
    width: 22px;
    border-radius: 30px;
}
.profileImage{
    max-width: 100%;
    max-height: 100%;
}
.user-name5{
    margin-left: 5px;
    font-size: 8px;
    font-weight: 550;
    letter-spacing: 0.3px;
    color: gray;
}
.header-input input{
   padding: 6px 14px 6px 14px;
    border: 2px solid teal;
    border-radius: 20px;
    font-size: 12px; 
    width: 90%;
}