.home-container1{
   display: flex;
    flex-direction: column;
    height: 122vh;
    margin-bottom: 0px;
    background-image: url(/static/media/background.a7a1d9b7.png);
    opacity: 2.5;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 0px;
}
.design{
    padding-right: 70px;
    margin-left: 20px;
    padding-top: 30px;
    background: orange;
    width: 95%;
    border-radius: 11% 28% 35% 66% / 0% 0% 90% 99%;
    text-align: end;
    color: whitesmoke;
    position: unset;
}
.design span{
    color: teal;
}
.design h1{
    font-weight: 700;
}
.home-image img{
    width: 100%;
    justify-content: center;
    display: none;
}
.header-text{
     font-size:50px;
     font-weight: 700;
     margin-top: 3%;
}
.sub-header-text{
    font-size: 30px;
     font-weight: 500;
     
}
.sub-text{
    font-size: 20px;
     font-weight: 500;
    
}
.home-button{
    width: 60%;
    margin-top: 3%;
    border: none;
    height: 50px;
    border-radius: 8px;
    background: orange;
   
}
.home-button-text{
    font-weight: 500;
    color: white;
    font-size: 18px;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.home-content1{
   padding: 0px 0px 0px 30px;
    display: flex;
    flex-direction: column;
}


.signup-containerMobile{
  position: fixed;
    background: whitesmoke;
    width: 85%;
    left: 48%;
    top: 10%;
    transform: translate(-50%, 0);
    box-shadow: 47px 8px 9px 7px white;
    border-radius: 21px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.signup-container-hidden{
   display: none;
}



.signin-containerMobile{
    position: fixed;
    background: whitesmoke;
    width: 80%;
    left: 53%;
    top: 10%;
    transform: translate(-50%, 0);
    box-shadow: 3px 3px 0px -1px white;
    border-radius: 21px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.signin-container-hidden{
   display: none;
}
.title2, .title{
    text-align: center;
    padding: 18px;
    padding-top: 0px;
    color: orange;
    font-weight: 600;
    font-size: 2rem;
}

.name-input{
    display: flex; 
    width: 100%;
    justify-content: space-between;
    
}
.name-input, .signin-containerMobile input{
    padding: 12px;
    border-radius: 20px;
    color: orange;
    text-align: left;
}

.signup-containerMobile input{
    padding: 12px;
    border-radius: 20px;
    color: orange;
    text-align: left;
    border: 2px solid teal;
  
}
.signup-button{
   width: 100%;
   margin-top: 2%;
   border: none;
   height: 50px;
   border-radius: 8px;
   background: orange;
   text-align: center;
   font-size: 1rem;
   color: whitesmoke;
   font-weight: 700;
   cursor: pointer;
}
.signup-button-disabled{
   width: 100%;
   margin-top: 2%;
   border: none;
   height: 50px;
   border-radius: 8px;
   background: gray;
   text-align: center;
   font-size: 1rem;
   color: whitesmoke;
   font-weight: 700;
   cursor: pointer;
}
.checkbox{
    display: flex;
    flex-direction: row;
}
.checkbox-text{
    margin-left: 12px;
}

.close-btn{
display: flex;
flex-direction: row;
justify-content: flex-end;
}

.close-icon{
    height: 25px;
    color: teal;
    cursor: pointer;
}

.errormesage{
    text-align: center;
    font-weight: 500;
    color: red;
    font-size: 15px;
    margin-bottom: 15px;
}
